@keyframes bars {
    0%, 100% {
        top: 37.5%;
        height: 25%;
        bottom: 37.5%;
        width: 2.5%;
        opacity: 0.5;
    }
    50% {
        top: 12.5%;
        height: 75%;
        bottom: 12.5%;
        width: 5%;
        opacity: 1;
    }
}
@-webkit-keyframes bars {
    0%, 100% {
        top: 37.5%;
        height: 25%;
        bottom: 37.5%;
        width: 2.5%;
        opacity: 0.5;
    }
    50% {
        top: 12.5%;
        height: 75%;
        bottom: 12.5%;
        width: 5%;
        opacity: 1;
    }
}
.bars {
    position: relative;
    height: 100%;
    width: 100%;
}
.bars div {
    position: absolute;
    width: 2.5%;
    height: 40%;
    top: 30%;
    -webkit-animation: bars 1.5s cubic-bezier(0.5, 1, 0.5, 1) infinite;
    animation: bars 1.5s cubic-bezier(0.5, 1, 0.5, 1) infinite;
}
.bars div:nth-child(1) {
    left: 15%;
    background: #7cfc00;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.bars div:nth-child(2) {
    left: 22.5%;
    background: #32cd32;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.bars div:nth-child(3) {
    left: 30%;
    background: #008000;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.bars div:nth-child(4) {
    left: 37.5%;
    background: #006400;
}
