.definite_line {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: lightgray;
}
.definite_line div {
    position: absolute;
    height: 100%;
    width: 0;
    background-color: #006600;
}