.line {
    height: 21px;
    width: 100%;
    vertical-align: center;
    position: relative;
    margin: 5px;
    border: 5px solid darkgreen;
    border-radius: 10px;
    box-sizing: border-box;
}
.line div {
    height: 5px;
    position: absolute;
    background-color: darkgreen;
    margin: auto;
    left: 2px;
    top: 3px;
    border-radius: 3px;
    animation: line_movement 2s linear infinite;
    -webkit-animation: line_movement 2s linear infinite;
}
@keyframes line_movement {
    0% {
        left: 1%;
        width: 0;
    }
    10% {
        left: 1%;
        width: 20%;
    }
    90% {
        left: 79%;
        width: 20%;
    }
    100% {
        width: 0;
        left: 99%;
    }
}
@-webkit-keyframes line_movement {
    0% {
        left: 1%;
        width: 0;
    }
    10% {
        left: 1%;
        width: 20%;
    }
    90% {
        left: 79%;
        width: 20%;
    }
    100% {
        width: 0;
        left: 99%;
    }
}