.line_end {
    position: relative;
    height: 11px;
    width: 100%;
    border: 5px darkgreen solid;
    border-radius: 10px;
    vertical-align: center;
}
.line_end div{
    position: absolute;
    height: 100%;
    width: 0;
    background-color: darkgreen;
    border-radius: 3px;
    margin: auto;
}