.points {
    width: 100%;
    height: 100%;
    position: relative;
}
.points div{
    transform: scale(1.5);
    margin: auto;
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    top: 43.75%;
    border-radius: 100%;
    animation: pulsate 1s ease-in-out infinite;
    -webkit-animation: pulsate 1s ease-in-out infinite;
}
.points div:nth-child(1) {
    left: 10%;
    background-color: #00cc00;
}
.points div:nth-child(2) {
    left: 32.5%;
    background-color: #009900;
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}
.points div:nth-child(3) {
    left: 55%;
    background-color: #006600;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}
.points div:nth-child(4) {
    left: 77.5%;
    background-color: #003300;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
@keyframes pulsate {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.5);
    }
}
@-webkit-keyframes pulsate {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.5);
    }
}