@keyframes square1_move {
    0%, 100% {transform: translate(0, 0);}
    25% {transform: translate(116%, 0);}
    50% {transform: translate(116%, 116%);}
    75% {transform: translate(0, 116%);}
}
@keyframes square2_move {
    0%, 100% {transform: translate(0, 0);}
    25% {transform: translate(0, 116%);}
    50% {transform: translate(-116%, 116%);}
    75% {transform: translate(-116%, 0);}
}
@keyframes square3_move {
    0%, 100% {transform: translate(0, 0);}
    25% {transform: translate(-116%, 0);}
    50% {transform: translate(-116%, -116%);}
    75% {transform: translate(0, -116%);}
}
@keyframes square4_move {
    0%, 100% {transform: translate(0, 0);}
    25% {transform: translate(0, -116%);}
    50% {transform: translate(116%, -116%);}
    75% {transform: translate(116%, 0);}
}
@-webkit-keyframes square1_move {
    0%, 100% {transform: translate(0, 0);}
    25% {transform: translate(116%, 0);}
    50% {transform: translate(116%, 116%);}
    75% {transform: translate(0, 116%);}
}
@-webkit-keyframes square2_move {
    0%, 100% {transform: translate(0, 0);}
    25% {transform: translate(0, 116%);}
    50% {transform: translate(-116%, 116%);}
    75% {transform: translate(-116%, 0);}
}
@-webkit-keyframes square3_move {
    0%, 100% {transform: translate(0, 0);}
    25% {transform: translate(-116%, 0);}
    50% {transform: translate(-116%, -116%);}
    75% {transform: translate(0, -116%);}
}
@-webkit-keyframes square4_move {
    0%, 100% {transform: translate(0, 0);}
    25% {transform: translate(0, -116%);}
    50% {transform: translate(116%, -116%);}
    75% {transform: translate(116%, 0);}
}
.squares {
    position: relative;
    width: 100%;
    height: 100%;
}
.squares div {
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 10%;
}
/* top left corner */
.squares div:nth-child(1) {
    background-color: #7cfc00;
    top: 7%;
    left: 7%;
    animation: square1_move 2s ease-in-out infinite;
    -webkit-animation: square1_move 2s ease-in-out infinite;
}
/* top right corner */
.squares div:nth-child(3) {
    background-color: #32cd32;
    top: 7%;
    right: 7%;
    animation: square2_move 2s ease-in-out infinite;
    -webkit-animation: square2_move 2s ease-in-out infinite;
}
/* bottom right corner */
.squares div:nth-child(2) {
    background-color: #008000;
    bottom: 7%;
    right: 7%;
    animation: square3_move 2s ease-in-out infinite;
    -webkit-animation: square3_move 2s ease-in-out infinite;
}
/* bottom left corner */
.squares div:nth-child(4) {
    background-color: #006400;
    bottom: 7%;
    left: 7%;
    animation: square4_move 2s ease-in-out infinite;
    -webkit-animation: square4_move 2s ease-in-out infinite;
}
